/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply box-border;
}

.Earth {
  width: 150px;
  height: 150px;
  background: url(https://1.bp.blogspot.com/-UUXaK5GCj-k/UcsKJRMgkVI/AAAAAAAACfM/sePP_H08JTQ/s1600/1.jpg);
  border-radius: 100%;
  background-size: 380px;
}

.text__hollow {
  -webkit-text-stroke: 1px #556;
  @apply text-gray-900;
}

@keyframes move-forward {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(5%);
  }
}

@keyframes move-reverse {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-5%);
  }
}
